#heading{
    color: blue;
    background-color: beige;
  }
.my-element{
    color: rgb(115, 68, 105);
    background-color: rgb(19, 157, 157);
  }

  .el-1{
    color: black;
    background-color: rgb(44, 20, 81);
  }
  